<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!--------FONT------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <style>
        body {
        }
        /* menu */
        #menu {
            padding-left: 30px;
            box-shadow: 2px 2px 7px;
            height: 100px;
            color: black;
            margin-bottom: unset;
            font-size: 10px;
        }

        #link:hover {
            box-shadow: 0 3px #808080;
            transition: 0.4s;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            color: black;
        }
        /* Hiệu ứng menu */
        .menu {
            position: relative;
            display: inline-block;
        }

        .nav-link {
            color: white;
            font-weight: bold;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #fdfdfd;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            /* Liên kết bên trong danh sách thả xuống */
            .dropdown-menu a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
                /* Thay đổi định dạng của liên kết thả xuống khi di chuột qua */
                .dropdown-menu a:hover {
                    background-color: #ffffff;
                    color: rgb(124, 107, 107);
                }
        /* Hiển thị menu thả xuống khi di chuột */
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        #logo {
            margin-top: -20px;
        }

        .a {
            padding-top: 15px;
            color: gray;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            padding-left: 1.8em
        }

            .a:hover {
                box-shadow: 0 3px #808080;
                transition: 0.4s;
                text-decoration: none;
                color: black;
            }

        li.format-hello {
            padding-top: 15px;
            color: white;
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--MENU--->
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="trangchu.html">
                <img id="logo" src="/images/VTRAVEL.png" width="100" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link is-active" id="link" aria-current="page" href="@Url.Action("Index","TOUR")">&emsp;&emsp; TRANG CHỦ&emsp;&emsp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="#">&emsp;&emsp;GIỚI THIỆU &emsp;&emsp; </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DU LỊCH
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">TRONG NƯỚC</a>
                            <a class="dropdown-item" href="#">NGOÀI NƯỚC</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="#"> &emsp;&emsp; KHÁCH SẠN &emsp;&emsp; </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="#">&emsp;&emsp;TIN TỨC &emsp;&emsp; </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            VẬN CHUYỂN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">MÁY BAY</a>
                            <a class="dropdown-item" href="#">XE</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                       <img src="@Url.Content("~/Images/cart.jpg")"style="height:30px;width:30px;margin-top:10px;"/>
                        @Html.Action("BagCart","ShoppingCart")
                    </li>
                    <li class="format-hello">
                        @if (Session["UserName"] != null)
                        {
                        <li><p style="color:blue;font-weight:bold;margin-top:15px;"> Xin Chào @Session["UserName"]</p></li>
                        <li>@Html.ActionLink("ĐĂNG XUẤT", "DangXuat", "ACCOUNT")</li>
                    }
                    else
                    {
                        <li><p style="color:blue;font-weight:bold;margin-top:15px;"> Xin Chào </p></li>
                        <li>@Html.ActionLink("ĐĂNG KÝ", "DangKy", "ACCOUNT")</li>
                        <li>@Html.ActionLink("ĐĂNG NHẬP", "Index", "ACCOUNT")</li>
                    }
                        </li>

                    </ul>
                </div>
        </div>
        <span class="nav-indicator"></span>
    </nav>
    <div>
        @RenderBody()
    </div>

</body>
</html>
